*,
*::after,
*::before {
    box-sizing: full-width;
    padding: 0;
    margin: 0;
  }

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'dosis', sans-serif;
}

/* ............/navbar/............ */
.navbar input[type="checkbox"],

.navbar-container {
  box-shadow: 0px 5px 10px 0px rgb(97, 94, 94)383;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #2D2E2F;
  opacity: 0.85;
  height: 50px;
  display: flex;
}

.navbar-container h1{
  color: #deb887;
}

.menu-items {
    order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  padding: 2rem;
  font-size: 1.5rem;
}

.menu-items a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #9cc29c;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
  padding: 2rem;
}







/* ///////////..dropdown../////////// */
  .dropdown {
    position: relative;
    display:inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2D2E2F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: -30px;
  }
  
  .dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    color: #242724;
    transition: color 0.3s ease-in-out;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}



/* ///////////..header../////////// */
.header-area{
    height: 500px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-area .nama-header h1{
    font-size: 80px;
    color: white;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}



/* ///////////..home../////////// */
.home {
    background-color: #2D2E2F;
    padding: 100px 90px;
}

.home h1 {
    font-size: 40px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-bottom: 20PX;
}

.home p {
    font-size: 2rem;
    color: whitesmoke;
    display: flex;
    text-align:center;

}



/* ///////////..footer../////////// */
.footer11 {
    background-color: #3D5239;
    display: flex;

}

.logo11{
    
    width: 33%;
    display: flex;
    justify-content: center; align-items: center;
}

.logo11 .logo2{
    text-align: center;
}

.logo11 h1{
    font-size: 55px;
    color: #deb887;
    
}

.logo11 h4{
    font-size: 20px;
    color:white;
    
}

.fcontent{
    width: 34%;
    margin: 30px 5px;
}

.fcontent h1{
    font-size: 20px;
    color: burlywood;
}

.fcontent a {
    color: white;
    font-size: 16px;
    display: flex;
    text-decoration: none;
    margin-top: 5px;
}

.fcontent .fmenu {
    padding-left: 13px;
}

.fcontact{
    width: 33%;
    margin: 30px 5px;
}

.fcontact h1{
    font-size: 20px;
    color: burlywood;
    margin-bottom: 5px;
}

.fcontact h2{
    font-size: 16px;
    color: whitesmoke;
    margin-bottom: 5px;
    font-weight: normal;
}

.logo3 {
    display: flex;
}

.logo3 a {
    color: white;
    font-size: 16px;
    display: flex;
    margin-top: 5px;
}

.logo3 img {
  height: 35px;
  margin-right: 1rem;
  color: white;
}

.logo2 h1{
    font-size: 80px;
}

.logo2 h4{
    font-size: 40px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #394c35;
  display: flex;
  justify-content: center; align-items: center;
  }


/* ///////////..menu appetizer../////////// */
.headapp{
  display: flex;
  justify-content: center; align-items: center;
  background-color: #2D2E2F;
  height: 50px;
  padding-bottom: 5px;
}

.headapp h1{
  color: whitesmoke;
}


/* ///////////..side bar order../////////// */
.shopping-cart{
  background-color: whitesmoke;
  position: fixed;
  top: 50px;
  right: -100%;
  height: 100vh;
  transition: 0.3s;
  opacity: 0.95;
  width: 300px;
  border-radius: 20px;
}

.shopping-cart img{
  height: 50px;
}

.shopping-cart.active{
  right: 0;
}

#cart-items{
  list-style-type: none;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 18px;
  padding-bottom: 10px;
}

.shopping-cart h4{
  font-size: 25px;
  color: #2D2E2F;
  text-align: center;
}

.total-order{
  font-size: 20px;
  text-align: right;
}

.total-order img{
  height: 100px;
  margin-top: -30px;
}

/* ///////////..menu appetizer baris 1../////////// */
.menu-appetizer{
  background-color: #D5D58F;
}



.menu-appetizer h1{
  font-size: 30px;
  color: white;
  background-color: #D5D58F;
}


.menu-1 {
  background-color: #D5D58F;
  display: flex;
}

.konten-1 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.konten-1 img {
  max-width: 200px;
  border-radius: 10px;
  }
.konten-1 h4{
  font: lighter ;
}
.menu-button{
  padding: 1px 40px;
}

.konten-2 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-2 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-3 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-3 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-4 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-4 img {
  max-width: 200px;
  border-radius: 10px;
  }

/* ///////////..menu appetizer baris 2../////////// */
.menu-2 {
  background-color: #D5D58F;
  
  display: flex;
}

.konten-5 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.konten-5 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-6 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-6 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-7 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-7 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-8 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-8 img {
  max-width: 200px;
  border-radius: 10px;
  }

/* ///////////..menu appetizer baris 3../////////// */
.menu-3 {
  background-color: #D5D58F;
  
  display: flex;
}

.konten-9 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.konten-9 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-10 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-10 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-11 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-11 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-12 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-12 img {
  max-width: 200px;
  border-radius: 10px;
  }



/* ///////////..menu main course../////////// */
.head-maincourse{
  display: flex;
  justify-content: center; align-items: center;
  text-align: center;
  background-color: #2D2E2F;
  height: 50px;
  padding-bottom: 5px;
}

.head-maincourse h1{
  color: whitesmoke;
}

/* ///////////..menu main course baris 1../////////// */
.menu-appetizer h1{
  font-size: 30px;
  color: white;
  background-color: #D5D58F;
}

.menu-maincourse h3{
  font-size: 20px;
  color: white;
  background-color: #D5D58F;
  display: flex;
  align-items: center; justify-content: center;
}

.menu-1 {
  background-color: #D5D58F;
  display: flex;
  }

.konten-1 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.konten-1 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-2 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-2 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-3 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-3 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-4 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-4 img {
  max-width: 200px;
  border-radius: 10px;
  }

/* ///////////..menu main course baris 2../////////// */
.menu-2 {
  background-color: #D5D58F;
  
  display: flex;
}

.konten-5 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.konten-5 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-6 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-6 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-7 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-7 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-8 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-8 img {
  max-width: 200px;
  border-radius: 10px;
  }

/* ///////////..menu main course baris 3../////////// */
.menu-3 {
  background-color: #D5D58F;
  
  display: flex;
}

.konten-9 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.konten-9 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-10 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-10 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-11 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-11 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-12 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-12 img {
  max-width: 200px;
  border-radius: 10px;
  }



/* ///////////..menu beverage../////////// */
.headbev{
  display: flex;
  justify-content: center; align-items: center;
  text-align: center;
  background-color: #2D2E2F;
  height: 50px;
  padding-bottom: 5px;
}

.headbev h1{
  color: whitesmoke;
}

.menu-drink{
  background-color: #D5D58F;
}

/* ///////////..menu beverage baris 1../////////// */
.menu-drink h1{
  font-size: 30px;
  color: white;
  background-color: #D5D58F;
}

.menu-drink h3{
  font-size: 20px;
  color: white;
  background-color: #D5D58F;
  display: flex;
  align-items: center; justify-content: center;
}

.menu-5 {
  background-color: #D5D58F;
  display: flex;
}

.konten-17 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.konten-17 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-18 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-18 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-19 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-19 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-20 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-20 img {
  max-width: 200px;
  border-radius: 10px;
}

/* ///////////..menu drink baris 2../////////// */
.menu-6 {
  background-color: #D5D58F;
  display: flex;
}

.konten-21 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.konten-21 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-22 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-22 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-23 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-23 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-24 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-24 img {
  max-width: 200px;
  border-radius: 10px;
}



/* ///////////..menu Dessert baris 1../////////// */
.headdes{
  display: flex;
  justify-content: center; align-items: center;
  text-align: center;
  background-color: #2D2E2F;
  height: 50px;
  padding-bottom: 5px;
}

.headdes h1{
  color: whitesmoke;
}

.menu-dessert h1{
  font-size: 30px;
  color: white;
  background-color: #D5D58F;
}

.menu-dessert h3{
  font-size: 20px;
  color: white;
  background-color: #D5D58F;
  display: flex;
  align-items: center; justify-content: center;
}

.menu-7 {
  background-color: #D5D58F;
  display: flex;
}

.konten-25 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.konten-25 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-26 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-26 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-27 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-27 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-28 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-28 img {
  max-width: 200px;
  border-radius: 10px;
}

/* ///////////..menu Dessert baris 2../////////// */
.menu-8 {
  background-color: #D5D58F;
  display: flex;
}

.konten-29 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.konten-29 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-30 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-30 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-31 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-31 img {
  max-width: 200px;
  border-radius: 10px;
  }

.konten-32 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.konten-32 img {
  max-width: 200px;
  border-radius: 10px;
}







/* //////////////////////..page7..////////////////////// */

.form{
  background-color: #E2EEE6;
  padding-left: 28vw;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.h1-order{
  color: white;
  text-align: center;
  background-color: #2D2E2F;
  height: 50px;
  display: flex;
  justify-content: center; align-items: center;
}

.order-form{
  font-size: 16px;
}

select {
  width: 42vw;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input {
  width: 40vw;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-nama{
  padding: 10px;
  display: block;
}

.form-total{
  padding: 10px;
  display: block;
}

.form-alamat{
  padding: 10px;
  display: block;
}

.order-pay{
  padding: 10px;
  display: block;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

.order-button{
  background-color: #E2EEE6;
  display: flex;
  justify-content: center;
}

.order-button img{
  height: 150px;
}




/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .shopping-cart{
    width: 200px;
  }

  #food-img{
    height: 70px;
  }

  .menu-button img {
    height: 15px;
  }

  .header-area {
    max-width: 768px
  }

  #person-name{
    font-size: 13px;
  }

  #person-role{
    font-size: 10px;
  }
}

  

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }




/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 30%;
  }

  .shopping-cart{
    width: 50px;
  }

  .shopping-cart h4{
    font-size: 20px;
  }

  .konten-1 img{
    height: 10px;
  }

  .logo2 h1{
    font-size: 18px;
  }

  .logo2 h4{
    font-size: 15px;
  }

  .fcontent a{
    font-size: 15px;
  }
}

  
  /* //////////////////////..About Us..////////////////////// */

.profile{
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: #E2EEE6;
}

.profile h1{
  text-align: center;
  color: #2D2E2F;
  padding-bottom: 15px;
}



.profile-1 {
  background-color: #E2EEE6;
  display: flex;
}

.person-1 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

#linkedin-profile {
  height: 35px;
  padding: 10px;
  }

.person-1 h4{
  font: lighter ;
}
.menu-button{
  padding: 1px 40px;
}

#person-img{
  height: 150px;
  border-radius: 10px;
}

#person-name{
  padding: 10px;
}

#person-role{
  font-size: 15px;
}

.person-2 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.person-2 img {
  max-width: 200px;
  border-radius: 10px;
  }

.person-3 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.person-3 img {
  max-width: 200px;
  border-radius: 10px;
  }

.person-4 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.person-4 img {
  max-width: 200px;
  border-radius: 10px;
  }

/* ///////////..profile baris 2../////////// */
.profile-2 {
  background-color: #E2EEE6;
  display: flex;
  justify-content: center;
}

.person-5 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.person-5 img {
  max-width: 200px;
  border-radius: 10px;
  }

.person-6 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.person-6 img {
  max-width: 200px;
  border-radius: 10px;
  }

.person-7 {
  background-color: white;
  width: 25vw;
  margin: 10px 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.person-7 img {
  max-width: 200px;
  border-radius: 10px;
  }